.pagination {
    height: 40px;
    margin: 20px 0;
}
.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 30%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination li {
    display: inline;
    line-height: 20px;
}
.pagination a, .pagination span {
    float: left;
    color: #08c;
    font-size: 20px;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 1px;
    border-left-width: 0;
}
a {
    color: #08c;
    text-decoration: none;
}