body {
    margin: 0;
    font-family: 'Playfair Display', serif;

}
section{
    margin-left: 10%;
    margin-right: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 5px;
    overflow: hidden;
    background-color: lightgrey;
    text-align: center;

}
li{
    float: left;
    text-align: center;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 28px 20px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;

}
li a:hover{
    color: rgb(20,20,59);
}
li a:active{
    border: solid 2px white;
}
.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
    letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: white;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 70%;

}

.btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}
.left{
    float: left;
    width: 30%;
    background-color: rgb(20,20,59);
    height: 90vh;
}
.right{
    float: right;
    width: 70%;
    background-color: lightskyblue;
    height: 90vh;
}
img{
    margin-left: 20%;
    border: solid 6px white;
}
p{

    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 52px;
    color: white;
    margin-left: 4%;
    text-align: center;
}
.btn1{
    padding: 13px 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.12em;
    border-radius: 24px;
    background: #1157e6;
    margin-left: 35%;
}
.btn1:hover {
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    background: black;
}
