.hero {
    background: url(../images/joanna-kosinska-412005.jpg) no-repeat center top;
    opacity: 0.9;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 0px;
    height: 550px;
}
.hero-btn {
    opacity: 0.5;
}
.hero-text {
    padding-top: 18%;
}
.hero-text h1 {
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 53px;
    letter-spacing: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.hero-text p {
    color: #d0d9ff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 80px;
    text-transform: uppercase;
}